
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #1F2937;
    align-items: center;

}
.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}
.header-links{
    font-size: 18px;
    color: #E5E7EB;

}
ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}
a {
    color: white;
    text-decoration: none;
}
.header-bottom {
    display: flex;
    justify-content: space-around;
    padding: 20px 100px;
    background-color: #1F2937;
    align-items: center;
    height: 400px;
}
.header-bottom-left{
   height: auto;
   width: 400px;
}
.text-tittle{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.text-bottom{
    margin-top: 5px;
    font-size: 18px;
    color: #e5e7eb;
    text-align: left;
    text-wrap: wrap;
}
.button-header{
    background-color: #3882f6;
    border: NONE;
    padding: 8px 30px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 2px;
    font-weight: 600;
    cursor: pointer;
}
.button-header:hover{
    box-shadow: 1px 1px 5px 2px;
    background-color: lightsalmon;
}
.cat-image{
    border-radius: 50px;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: auto;
    margin-bottom: 60px;
}
.info{
    margin-top: 50px;
    font-size: 36px;
    font-weight: 800;
}
.cat-container {
    display: flex;
    border: #3882f6;
    justify-content: space-between;
    gap: 60px;
    margin-top: 60px;
}
.cats {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 20px;
    transition-duration: 0.5s;
}
.cat-text {
    text-align: center;
    margin-top: 20px;
}
.cat-1{
    height: 200px;
    width: 200px;
}
.cats:hover{
    background-color: rgb(33, 71, 71);
}
.quote {
    background-color: #E5E7EB;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-shrink: 0;
}
.quote-content {
    display: flex;
    flex-direction: column;
   font-size: 36px;
   font-style: italic;
   color: #1F2937;
   text-wrap: wrap;
   padding-left: 350px;
   padding-right: 350px;
}
.quote p {
    align-self: flex-end;
    font-weight: bold;
    font-size: 30px;
}
.call {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-to {
    display: flex;
    background-color: #3882f6;
    height: 150px;
    width: 100vh;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}
.call-to-under{
    color: #E5E7EB;
    font-size: 16px;
}
.call-to-tittle {
    color: #E5E7EB;
    font-weight: 800;
    font-size: 25px;
}
.call-to-button {
    padding: 10px 30px;
    background-color: #3882f6;
    color: white;
    font-weight: 800;
    font-size: 20px;
    border-color: #E5E7EB;
    border-radius: 5px;
    box-shadow: 0 1px 2px;
    transition-duration: 0.5s;
}
.call-to-button:hover{
    background-color: cadetblue;
}
.footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    font-size: 20px;
}