
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 100%;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 2%;
    border-radius: 0;
    color: white;
    font-family: cursive; 
    max-height: 200px;
    padding-left: 200px;
    padding-right: 200px;
}

.cabecalho-logo {
    width: 70px;
    height: auto;
    border-radius: 10%;
}
.cabecalho-menu{
    display: flex;
    gap: 32px;
    align-self: center;

}
.cabecalho-item {
    font-size: 30px;
    text-decoration: none;
    color: #e2dae2;

}

.corpo-1 {
    background-color: #1F2937;
    border-top: 1px solid white;
    heigh
}
.corpo-todo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.corpo-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.corpo-texto-titulo {
    font-size: 48px;
    color: #F9FAF8
}
.corpo-texto-titulo-2 {
    font-size: 18px;
    color: #e5e7eb;
}
.LUTAR {
    background-color: #3882f6;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px;
}
.corpo-imagem {
    border-radius: 20px;
}